-webkit-text-size-adjust: 100%;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
--gray-dark: #12151e;
--blue: #5e50f9;
--indigo: #6610f2;
--purple: #6a008a;
--pink: #e91e63;
--red: #f96868;
--orange: #f2a654;
--yellow: #f6e84e;
--green: #46c35f;
--teal: #58d8a3;
--cyan: #57c7d4;
--white: #ffffff;
--gray: #434a54;
--gray-light: #aab2bd;
--gray-lighter: #e8eff4;
--gray-lightest: #e6e9ed;
--black: #000000;
--primary: #0090e7;
--secondary: #e4eaec;
--success: #00d25b;
--info: #8f5fe8;
--warning: #ffab00;
--danger: #fc424a;
--light: #ffffff;
--dark: #0d0d0d;
--breakpoint-xs: 0;
--breakpoint-sm: 576px;
--breakpoint-md: 768px;
--breakpoint-lg: 992px;
--breakpoint-xl: 1200px;
--font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
--font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
  'Liberation Mono', 'Courier New', monospace;
-webkit-font-smoothing: antialiased;
box-sizing: border-box;
margin: 0;
font-family: inherit;
font-size: inherit;
line-height: inherit;
overflow: visible;
outline: none;
outline-width: 0;
outline-color: transparent;
outline-style: none;
box-shadow: none;
